.container{
    display: flex;
    margin-top:15%;
    overflow: hidden;
    height: 60vw;
}

#process{
    background: 
        linear-gradient(
            rgba(0,0,0,0.1),
            rgba(0,0,0,0.1)
        ),
        url(../sources/diagram.jpg);
    background-size: cover;
}



#grouppic{
/*
    width: 70%;
    height: 50%;
*/
    background:
        linear-gradient(
            rgba(0,0,0,0.1),
            rgba(0,0,0,0.1)
        ),
        url(../sources/Screen%20Shot%202018-05-07%20at%202.30.53%20PM.png);
    background-size: cover;
}

.left,.right{
    width: 30%;
    margin:auto;
}

.border{
    padding: 1.5rem;
    border: 1px solid tomato;
}
.box{
    padding: 1.5rem;
    background-color: tomato;
}


/*******typography**********/

.main{   
    font-size: 2em;
    margin: auto;
}

.white{
    color: #f6f7f8;
}
a:hover .button{
    font-weight: 700;
}












@media screen and (max-width: 768px) {
    body {
        font-size: 0.8rem;
    }
}