/*body formatting*/
    body{
        line-height: 1.8em;
 background: #93a5cf; background: -moz-linear-gradient(-40deg,  #93a5cf 0%,#e4efe9 100%); background: -webkit-linear-gradient(-40deg,  #93a5cf 0%,#e4efe9 100%); background: linear-gradient(-40deg,  #93a5cf 0%,#e4efe9 100%);
    }

    /*use section for margin-ed paragraphs*/
    section{
        margin: 5vw;
    }
    /*use divs for no margin graphics*/
    div{

    }

.center{
    margin: 9em;
    text-align: center;
}
.feature ul{
    display: flex;
    justify-content: space-between;
}
.feature ul li{
    background: #fcf;
    width: 13vw;
    padding: 1em;
}
.container{
    margin-bottom: 2em;
    display: inline-flex;
    justify-content: space-between;
}
.wrapper{
    width: 45%;
}


/*nav*/
nav{
    padding: 1.5em;
    padding-top: 2em;
    height: 5vh;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #ffffff;
    background: linear-gradient(to top, rgba(255,255,255,0), rgba(255,255,255,1));
}

#logo{
    height: 40px;
    margin-top: -.7em;
    width: auto;
}
nav a{
    float: right;
    margin-right: 3em;
    text-decoration: none;
    color: black;
    font-weight: 600;
}
nav a:first-of-type{
    float: left;
}
nav a:first-of-type:hover{
    background-color: transparent;
}
nav a:hover{
    font-weight: 600;
    background-color: #FBC263;

    
}

/*typography,images*/
img{
    width: 100%;
}
iframe{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    
}
H2{
    font-family: Open Sans;
    font-weight: 300;
    font-size: 1.25rem;
    line-height: 1.8em;
}
.caption{
    font-size: 0.85rem;
    line-height: 1.5em;
}



