/*body formatting*/
    body{
        line-height: 1.8em;
 background: #93a5cf; background: -moz-linear-gradient(130deg,  #93a5cf 0%,#e4efe9 100%); background: -webkit-linear-gradient(130deg,  #93a5cf 0%,#e4efe9 100%); background: linear-gradient(-40deg,  #93a5cf 0%,#e4efe9 100%);
    }

    /*use section for margin-ed paragraphs*/
    section{
        margin: 5vw;
    }
    /*use divs for no margin graphics*/
    div{

    }


/*
.feature ul{
    display: flex;
    justify-content: space-between;
}
.feature ul li{
    background: #fcf;
    width: 13vw;
    padding: 1em;
}
*/
.container{
    margin-bottom: 2em;
    display: inline-flex;
    justify-content: space-between;
}
.wrapper{
    width: 45%;
}
.spaceafter{
    margin-bottom: 5em;
}
.center{
    margin: 7em;
    padding: 2em;
    text-align: center;
}

.card{
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
}


div ul li{
    margin-bottom: .5em;
    margin-top: 1em;
}

/*nav*/
nav{
    padding: 1.5em;
    padding-top: 2em;
    height: 5vh;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #ffffff;
    background: linear-gradient(to top, rgba(255,255,255,0), rgba(255,255,255,1));
}

#logo{
    height: 40px;
    margin-top: -.7em;
    width: auto;
}
nav a{
    float: right;
    margin-right: 3em;
    text-decoration: none;
    color: black;
    font-weight: 600;
}
nav a:first-of-type{
    float: left;
}
nav a:first-of-type:hover{
    background-color: transparent;
}
nav a:hover{
    font-weight: 600;
    background-color: #FBC263; 
}

/*typography,images*/
img{
    width: 100%;
}

.fourdp{
      box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}


H2{
    font-family: Open Sans;
    font-weight: 300;
    font-size: 1.25rem;
    line-height: 1.8em;
}

H3{
    font-family: Open Sans;
    font-weight: 300;
    font-size: 1.45rem;
    line-height: 1.8em;
}

H4{
    font-family: Open Sans;
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.8em;
}


.caption{
    font-size: 0.85rem;
    line-height: 1.5em;
}







@media only screen and (max-width: 800px) {

    .center{
    margin: 1em;
    padding: 2em;
    text-align: center;
    } 
    
    .wrapper{
        width: 80%;
        margin: auto;
        margin-bottom: 5em;
    }
    
    .container{
        display: block;
    }

    H3{
    font-family: Open Sans;
    font-weight: 300;
    font-size: 1.25rem;
    line-height: 1.8em
    }
    

    
}








